pre code.add {
    color: green;
}

pre code.rm {
    color: red;
}

.fileList {
  float: left;
  width: 100%;
}

.header {
    font-family: 'Chau Philomene One', sans-serif;
    font-size: 35px;
    font-weight: normal;
}

.fileList .nav li {
   float: none;
   padding: 0;
}

.fileList .nav li a {
   padding: 0;
   margin: 0;
}

.container h3, .container h4 {
  font-weight: normal;
  color: #fff;
}

.commit-txt {
  float: left;
  margin-right:5px;
  color:#999;
  display: block;
  width: 130px;
}

.commit-sha {
    float: left;
}

.chosen .commit-sha a {
    color: #999;
    cursor: default;
    text-decoration: none;
}

.ng-view {
    padding-top: 15px;
}

#NavList .navbar-inner {
    padding-bottom: 4px;
}

pre.commit-message {
    background-color: #000000;
    color:#ffffff;
}

