pre code.add {
    color: green;
}

pre code.rm {
    color: red;
}

.fileList {
  float: left;
  width: 100%;
}

.fileList .nav li {
   float: none;
   padding: 0;
}

.fileList .nav li a {
   padding: 0;
   margin: 0;
}

.container h3, .container h4 {
  font-weight: normal;
  color: #fff;
}

.commit-txt {
  float: left;
  margin-right:5px;
  color:#999;
}

