<!doctype html>

<!--
DONE: commit base
DONE: create basic JS folders
DONE: attach JS and CSS libs
DONE: add field for entering github project URL
TODO: transform repo urls of forms:
    https://github.com/mkotsur/angular.js OR git@github.com:mkotsur/angular.js.git
    into API url
TODO: retrieve basic project information when OK clicked
-->

<html ng-app="MainModule" >

<head>
    <title>GitoScop</title>

    <link rel="stylesheet" href="/css/bootstrap/bootstrap.css" />

    <script src="/js/lib/angular-1.0.0rc3.js"></script>
    <script src="/js/lib/ngResource/resource.js"></script>
    <script src="/js/lib/jquery-1.7.1.js"></script>
    <script src="/js/lib/underscore-min.js"></script>
    <script src="/js/lib/bootstrap/bootstrap-dropdown.js"></script>
    <script src="/js/lib/bootstrap/bootstrap-modal.js"></script>
    <script src="/js/lib/bootstrap/bootstrap-button.js"></script>
    <script src="/js/lib/bootstrap/bootstrap-tooltip.js"></script>

    <script src="/js/service/repoUrlTransformer.js"></script>
    <script src="/js/service/repoResource.js"></script>
    <script src="/js/controller/RepoLinkageController.js"></script>
    <script src="/js/module/MainModule.js"></script>

</head>
<body>

<div class="container">
    <div ng-controller="RepoLinkageController">
        <div>
            <h2>Repository info:</h2>
            <ul>
                <li>URL: {{repo.url}}</li>
                <li>Api URL: {{repo.apiUrl}}</li>
                <li>Homepage: {{repo.data.homepage}}</li>
            </ul>
        </div>
        <div>
            <input type="text" ng-model="repo.url" ng-model-instant />
            <input type="button" ng-click="getRepoData()" class="btn" value="Use reposiroty"/>
        </div>
    </div>
</div>

</body>
</html>