<a href="http://github.com/mkotsur/gitoscop"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>
<div class="span12" style="top:30%;position:absolute; text-align: center;">
    <div>
        <div style="margin: 20px auto 15px auto">
            <img src="./images/tv.png" alt="logo"/>
            <h2 class="header">Enter Repository Url:</h2>
            <h5><small>For example: https://github.com/angular/angular.js</small></h5>

        </div>
        <div>
            <input class="input-xlarge" type="text" name="url" ng-model="repo.url" ng-model-instant />
            <input type="button" ng-click="redirectToMainPage()" ng-disabled="!repo.id" class="btn" value="Use repository" style="vertical-align:top;margin-left: 5px;"/>
        </div>
    </div>
</div>