<a href="http://github.com/mkotsur/gitoscop"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/e6bef7a091f5f3138b8cd40bc3e114258dd68ddf/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub"></a>
<div class="span12" style="top:30%;position:absolute; text-align: center;">
    <div>
        <div style="margin: 20px auto 15px auto">
            <img src="./images/tv.png" alt="logo"/>
            <h2 class="header">Enter Repository Url:</h2>
            <h5><small>For example: https://github.com/angular/angular.js</small></h5>

        </div>
        <div>
            <input class="input-xlarge" type="text" name="url" ng-model="repo.url" ng-model-instant />
            <input type="button" ng-click="redirectToMainPage()" ng-disabled="!repo.id" class="btn" value="Use repository" style="vertical-align:top;margin-left: 5px;"/>
        </div>
    </div>
</div>