<div class="span4" style="margin-top:30px">
    <div ng-controller="RepoInitCtrl">        
        <div>
            <input type="text" ng-model="repo.url" ng-model-instant />
            <input type="button" ng-click="getRepoData()" ng-disabled="!repo.apiUrl" class="btn" value="Use reposiroty" style="vertical-align:top;"/>
        </div>
    </div>
    <div ng-controller="CommitsNavigatorCtrl" ng-show="repo.data.url">
      <h3>Timeline for: <a href="{{repo.url}}">{{repo.data.owner.login}}/{{repo.data.name}}</a></h3>
      <div style="float:left;width:75px;height:75px">
          <img ng-src="{{repo.data.owner.avatar_url}}" ng-show="repo.data.owner.avatar_url" style="width:75px; height:75px;padding-top:20px"/>
      </div>
      <div class="span2">
          <dl style="float: left;">
              <dt>Api URL:</dt> <dd style="width:25em">{{repo.apiUrl}}</dd>
              <dt>Last updated:</dt><dd> {{repo.data.updated_at}}</dd>
              <dt>Created at:</dt><dd> {{repo.data.created_at}}</dd>           
          </dl>
      </div>

      <div style="float: left;">
          <div ng-controller="CommitsNavigatorCtrl">
              <button class="btn btn-inverse" href="#" ng-click="goPrevious()" ng-disabled="!previousRevision" style="width:80px">Previous</button>
              <button class="btn btn-info" href="#" ng-click="goNext()" ng-disabled="!nextRevision" style="width:80px;margin-left:5px">Next</button>
          </div>
          <h4 style="margin-top: 10px;"> Recent commits:</h4>
          <ul class="nav nav-list">
              <li ng-repeat="commit in repo.commits">                                         
                 <span ng-show="slideshow.pointer != commit.sha" class="commit-txt"> {{commit.author.login}}:</span>
                 <b ng-show="slideshow.pointer == commit.sha" class="commit-txt"> {{commit.author.login}}:</b>
                 <b ng-show="slideshow.pointer == commit.sha" style="float: left;color:#999">{{commit.sha}}</b>
                 <span ng-hide="slideshow.pointer == commit.sha" style="float: left;"><a href="#" ng-click="slideshow.pointer=commit.sha">{{commit.sha}}</a></span>
              </li>
          </ul>
       </div>
    </div>
</div>

<div class="span8" ng-controller="DiffCtrl">
    <div ng-show="slideshow.commit.files.length > 0">
        <div id="NavList" class="navbar navbar-static">
            <div class="navbar-inner">
                <div class="container" style="width: auto;">

                    <a class="brand" href="#">{{slideshow.commit.commit.sha}} by {{slideshow.commit.commit.author.name}} {{slideshow.commit.commit.author.date}}</a>

                <div ng-show="slideshow.commit" class="nav" style="width:100%">

                    <h3>{{slideshow.commit.sha}}</h3>
                    <h4>{{slideshow.commit.commit.message}}</h4>
                    <br/>
                </div>
<!--                            <div>
                      <ul class="nav">
                          <li ng-repeat="file in slideshow.commit.files"><a href="#{{file.filename}}">{{file.filename}}</a></li>
                          <!--<li class="dropdown">-->
                              <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>-->
                              <!--<ul class="dropdown-menu">-->
                                  <!--<li><a href="#one">one</a></li>-->
                                  <!--<li><a href="#two">two</a></li>-->
                                  <!--<li class="divider"></li>-->
                                  <!--<li><a href="#three">three</a></li>-->
                              <!--</ul>-->
                          <!--</li>
</ul>

                 </div>-->
                </div>
            </div>
        </div>
        <div class="accordion" id="filesList">
            <div class="accordion-group" ng-repeat="file in slideshow.commit.files">
            <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#filesList" href="#{{escape(file.filename)}}">
              {{file.filename}}: {{file.status}}
        </a>
            </div>
                <div class="accordion-body in"  id="{{escape(file.filename)}}" >
                    <div class="accordion-inner" ng-bind-html-unsafe="file.patch|diffToHtml"></div>
                </div>
            </div>
        </div>
    </div>
</div>
