<div class="span4" ng-controller="RepoInitCtrl">
    <div>
        <div>
            <input type="text" ng-model="repo.url" ng-model-instant />
            <input type="button" ng-click="getRepoData()" ng-disabled="!repo.apiUrl" class="btn" value="Use repository" style="vertical-align:top;"/>
        </div>
    </div>
    <div ng-controller="CommitsNavigatorCtrl" ng-show="repo.data.url">
        <h3>Timeline for: <a href="{{repo.url}}">{{repo.data.owner.login}}/{{repo.data.name}}</a></h3>
        <div style="float:left;width:75px;height:75px">
            <img ng-src="{{repo.data.owner.avatar_url}}" ng-show="repo.data.owner.avatar_url" style="width:75px; height:75px;padding-top:20px"/>
        </div>
        <div class="span2">
            <dl style="float: left;">
                <dt>Api URL:</dt> <dd style="width:25em">{{repo.apiUrl}}</dd>
                <dt>Last updated:</dt><dd> {{repo.data.updated_at}}</dd>
                <dt>Created at:</dt><dd> {{repo.data.created_at}}</dd>
            </dl>
        </div>

        <div style="float: left;" class="commits">
            <div class="button-navigation">
                <button class="btn btn-inverse" ng-click="goPrevious()" ng-disabled="!previousRevision" style="width:80px">Previous</button>
                <button class="btn btn-info" ng-click="goNext()" ng-disabled="!nextRevision" style="width:80px;margin-left:5px">Next</button>
                <h5>
                    <small>Tip: Navigate with <b>Alt</b> and <b>&lt;-</b> arrows <b>-&gt;</b> shortcuts.</small>
                </h5>
            </div>
            <h4 style="margin-top: 10px;"> Recent commits:</h4>
            <ul class="nav nav-list">
                <li ng-repeat="commit in repo.commits" gs-commit>
                    <span class="commit-txt"> {{commit.commit.author.name}}:</span>
                    <span class="commit-sha"><a ng-click="slideshow.pointer=commit.sha">{{commit.sha|substr:0:10}}</a></span>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="span8" ng-controller="DiffCtrl">
    <div ng-show="slideshow.commit.files.length > 0">
        <div id="NavList" class="navbar navbar-static">
            <div class="navbar-inner">
                <div class="container" style="width: auto;">


                    <div ng-show="slideshow.commit" class="nav" style="width:100%">
                        <h3>{{slideshow.commit.sha}}</h3>
                        <pre class="commit-message">{{slideshow.commit.commit.message}}</pre>
                    </div>

                    <h4> by {{slideshow.commit.commit.author.name}} {{slideshow.commit.commit.author.date}}</h4>
                </div>
            </div>
        </div>
        <div class="accordion" id="filesList">
            <div class="accordion-group" ng-repeat="file in slideshow.commit.files">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-target="#{{file.filename|asId}}">
                        {{file.filename}}: {{file.status}}
                    </a>
                </div>
                <div class="accordion-body in"  id="{{file.filename|asId}}" >
                    <div class="accordion-inner" ng-bind-html-unsafe="file.patch|diffToHtml"></div>
                </div>
            </div>
        </div>
    </div>
</div>
